.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 5rem 5rem
}

.home__welcome {
  margin: 4rem;
  font-size: 7rem;
}

.home__to-list {
  font-size: 2rem;
  border-radius: 50px;
  padding: 2rem;
  margin: 2rem;
  cursor: pointer;
  border: none;
  color: white;
  background-image: linear-gradient(0deg, rgb(9, 100, 200) 0%, rgb(0, 122, 255) 100%);
}

.home__to-list:hover {
  text-decoration: underline;
  background-image: linear-gradient(0deg, rgb(0, 122, 255) 0%, rgb(9, 100, 200) 100%);
}