.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos-container__list {
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}